<div class="loginBox">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img src="http://bbs.shudong.wang/template/zvis_3_zuk/src/main_fm365.png" alt="">
            </div>
            <div class="col-md-6">
                <div class="login">
                    <div class="login-title">
                        <h1>登录</h1>
                    </div>

                    <form>
                        <div class="form-group">
                            <label for="exampleInputEmail1">用户名或邮箱：</label>
                            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="邮箱或用户名">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">密码：</label>
                            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="密码啊">
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox"> 自动登录
                            </label>
                        </div>
                        <button type="button" class="btn btn-default btn-block">登录</button>
                    </form>
                </div>

            </div>
        </div>

    </div>
</div>