<div class="users-logo ">
    <h3 class="float-left ">
        <i class="fa fa-users"></i> 用户信息
    </h3>
    <div class="float-right text-justify  ">
        收支总计：
        <span>{{ total }}</span>
    </div>
</div>

<table *ngIf="users?.length>0;else noUsers" class="table table-striped">
    <thead>
        <th>ID</th>
        <th>姓名</th>
        <th>邮箱</th>
        <th>电话</th>
        <th>收支</th>
        <th></th>
    </thead>
    <tbody>
        <tr *ngFor="let user of users">
            <td>{{user.id}} </td>
            <td>{{user.name}} </td>
            <td>{{user.email}} </td>
            <td>{{user.phone}} </td>
            <td>{{user.balance}} </td>
            <td>
                <a routerLink="/user-detall" class="btn btn-secondary btn-sm ">
                    <i class="fa fa-arrow-circle-o-right"></i> 详情
                </a>
            </td>
        </tr>
    </tbody>
</table>

<ng-template #noUsers>
    <hr>
    <h5>系统中没有任何用户</h5>
</ng-template>