<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
    <div class="container">
        <a class="navbar-brand logo " href="#">saigsf</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" routerLink="/">首页 </a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" routerLink="/exchange">交流 </a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/register">注册 </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/login">登录 </a>
                </li>
            </ul>
        </div>
    </div>
</nav>